<!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class="green product-content">
        <div class="product">
            
        </div>
        <div class="des">
            {{food.Name}}
        </div>
        <div class="add-product" (click) = addProduct()>
            <img src="./app/contents/images/add.svg" />
        </div>
        <div *ngIf="selectedFoodCount>0" class="remove-product" (click)= removeProduct()>
            <img src="./app/contents/images/remove.svg" />
        </div>
        <div>
            {{selectedFoodCount}}
        </div> 
    </div>
</div>-->
<div  [dragula]='"my-bag"' class="col-lg-4 col-md-4 col-sm-4 col-xs-12" [attr.food-id]="food.Id">
    <div class="green product-content">
        <div class="product"> 
            
        </div>
        <div class="des">
            {{food.Name}}
        </div>
        <div class="add-product" (click) = addProduct()>
            <img src="assets/images/add.svg" />
        </div>
        <div *ngIf="food.Point>0" class="remove-product" (click)= removeProduct()>
            <img src="assets/images/remove.svg" />
        </div>
        <div>
            {{food.Point}}
        </div>
    </div>
</div>