<!--<ion-header>
  <ion-navbar>
    <ion-title>
      Devdactic Drag And Drop
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col width-50 class="left">
      <div class="header">First Bucket</div>
      <ion-list [dragula]='"my-bag"'>
        <div *ngFor="let item of q1">
          {{item}}
        </div>
      </ion-list>
    </ion-col>

    <ion-col width-50 class="right">
      <div class="header">Second Bucket</div>
      <ion-list [dragula]='"my-bag"' [dragulaModel]="q2">
        <div *ngFor="let item of q2">
          {{item}}
        </div>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>-->


<ion-menu [content]="mycontent">

    <ion-content>
        <ion-list>
             <button ion-item menuClose (click)="openPage(homePage)">
                Home
            </button>
            <button ion-item menuClose (click)="openPage(catsPage)">
                Cats
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)">
                Dogs
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav #mycontent [root]="rootPage" persistent="true"></ion-nav>